

.container-home {
  background: url("img/generalAssets/indexBackground.png");
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 500px;
  grid-template-rows: 180px auto auto;
  grid-template-areas: 
      "logo"
      "info"
      "buttons";
  grid-gap: 40px;
  height: 100vh;
}

.logo-container,.info-home-container,.buttons-container,
.double-button, .triple-button{
  display: grid;
  justify-content: center;
  align-content: center;
}

.logo-container {
  grid-area: logo;
}

.info-home-container {
  grid-area: info
}

.info-home-container p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.info-home-container hr {
  margin-top: 20px;
  border: 5px solid #fff;
  border-radius: 10px;
  width: 500px;
  height: 0px;
  box-shadow: 2px 2px 1px#0000003b;
}

.logo{
  width: 300px;
  height: 140px;
  transition: 0.4s;
}

.logo:hover {
  width: 340px;
  height: 170px;
  transition: 0.4s;
}

.buttons-container {
  grid-area:buttons;
  grid-template-columns: repeat(2,240px);
  grid-template-rows: auto;
  grid-template-areas: "double triple";
  grid-gap:50px;
}

.double-button, .triple-button {
  width: 240px;
  height: 180px;
  background-color: #fff;
  border-radius: 40px;
  border:0px;
  transition: 0.5s;
  box-shadow: 2px 1px 5px#000000ab;
}

.double-button hr, .triple-button hr {
  border: 0px;
  border-bottom: 5px solid #d7d7d7 !important;
  border-radius: 10px;
}

.double-button a {
  margin: 40px 0px 0px;
  display: grid;
  align-content: center;
}

.double-button:hover, .triple-button:hover {
  transition: 0.5s;
  border: 8px solid #1D79A1;
}

.img-button-2 {
  width: 150px;
  height: 150px;
}

.img-button-1 {
  width: 160px;
  height: 100px;
}


